<div class="page-header">
    <h1>现在去见你 <small>8.1</small></h1>
</div>
<div class="row ">
    <div class="col-sm-12 col-md-6">
        <div class="">
            <img src="img/1.jpg" >
            <div class="caption">
                <!--<p class="title"><h1>现在去见你</h1><h1 class="point">8.1</h1></p>-->
                <p class="content">
                    <!--<span>制片国家/地区: </span><span>韩国</span><br>-->
                    <span>导演:</span><span>李章焄</span><br>
                    <span>类型:</span><span><a href="javascript:void(0)">剧情</a> / <a href="javascript:void(0)">爱情</a> / <a href="javascript:void(0)">奇幻</a></span><br>
                    <span>又名:</span><span>雨你再次相遇(台) / 现在，很想见你 / Be with You</span>
                    <span>剧情简介:</span><span>本片根据市川拓司小说《相约在雨季》改编，苏志燮和孙艺珍主演，讲述男子(苏志燮饰)的妻子秀雅(孙艺珍饰)去世前告诉他，自己将在下一个雨季回来。果不其然，雨季来临之际，妻子如约而至。可奇怪的是，妻子似乎忘记了他和家庭。</span>
                </p>
            </div>
        </div>
    </div>
</div>